/* Hero text styles */

.hero_text {
	display: flex;
	flex-direction: column;
	row-gap: 2vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	width: 80%;
	max-width: 1280px;
	color: var(--clr-salt);
	font-family: var(--font-petit);

	h1 {
		font-family: var(--font-prata);
		font-style: italic;
		font-size: 39px;
	}

	span {
		font-family: var(--font-prata);
		font-size: 30px;
		text-align: end;
		padding-right: 5px;
	}

	@media (max-width: 1280px) {
		h1 {
			font-size: 36px;
		}

		span {
			font-size: 27px;
		}
	}

	@media (max-width: 1024px) {
		h1 {
			font-size: 31px;
		}

		span {
			font-size: 24px;
		}
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 24px;
		}

		span {
			font-size: 16px;
		}
	}
}

.button_group {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 7%;
}

/* Media breakpoints */

@media (max-width: 1280px) {
	.hero_text {
		width: 80%;
		row-gap: 3vh;
	}

	.button_group {
		column-gap: 5%;
	}
}

@media (max-width: 1024px) {
	.hero_text {
		row-gap: 3vh;
	}

	.button_group {
		column-gap: 5%;
	}
}

@media (max-width: 768px) {
	.hero_text {
		transform: translate(-50%, -40%);
		width: 77%;
	}
}
