@tailwind utilities;

/* Main classes for nav bar */

/* Nav html tag styles can be found in global.css file */

.nav_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1440px;
	padding: 12px 40px;
}

.nav_logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 31%;

	img {
		width: 80%;
		height: auto;
	}
}

.nav_menu {
	width: 69%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 18px;
	font-family: var(--font-urbanist);
	font-size: 16px;
	font-weight: 500;
	color: var(--clr-salt);
	margin-bottom: 7px;

	a {
		display: inline;
		border-radius: 8px;
		padding: 4px 8px;
		transition: background-color 0.2s, color 0.3s ease;

		&:hover {
			background-color: rgb(256, 256, 256, 0.7);
			color: var(--clr-choc);
		}
	}

	@media (max-width: 1280px) {
		a {
			padding: 3px 6px;
		}
	}

	@media (max-width: 1024px) {
		a {
			padding: 3px 5px;
		}
	}
}

.nav_scroll {
	background-color: var(--clr-pepper);
	transition: background-color 0.3s ease;

	.nav_menu a:hover {
		background-color: rgb(256, 256, 256, 0.8);
		color: var(--clr-pepper);
	}
}

/* Media breakpoints for main classes */

@media (max-width: 1280px) {
	.nav_menu {
		font-size: 14px;
	}
}

@media (max-width: 1024px) {
	.nav_menu {
		font-size: 13px;
	}
}

@media (max-width: 768px) {
	.nav_container {
		padding: 14px 40px;
	}

	.nav_menu {
		display: none;
	}

	.nav_logo {
		width: 70%;
	}
}
