.welcome {
    width: 40%;
    padding-right: 38px;

    h2 {
        font-family: var(--font-prata);
        font-size: 36px;
    }

    p {
        font-size: 18px;
        text-align: flex-start;
        padding-top: 2vh;
        text-align: justify;
    }

    button {
        display: inline-block;
        margin-top: 20px;
        padding: 12px 21px;
        border: 3px solid var(--clr-pepper);
        background-color: var(--clr-pepper);
        color: var(--clr-salt);
        border-radius: 8px;
        transition: background-color 0.2s, color 0.3s;
        font-family: var(--font-raleway);
        font-weight: 500;
        font-size: 20px;

        &:hover {
            background-color: var(--clr-salt);
            color: var(--clr-pepper);
        }
    }

    @media (max-width: 1280px) {
        h2 {
            font-size: 28px;
        }

        p {
            font-size: 17px;
            text-align: flex-start;
        }

        button {
            font-size: 18px;
            padding: 10px 14px;
        }
    }

    @media (max-width: 1024px) {
        h2 {
            font-size: 19px;
        }

        p {
            font-size: 16px;
            text-align: flex-start;
        }

        button {
            margin-top: 16px;
            padding: 9px 12px;
            font-size: 16px;
        }
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 21px;
        }

        button {
            font-size: 16px;
            font-weight: 500;
            border-radius: 4px;

            &:hover {
                background-color: var(--clr-pepper);
                color: var(--clr-salt);
            }
        }
    }

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100%));
    }
}

.carousel_container {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 37%;
    height: 100%;
    margin-left: 40px;
    overflow: hidden;
}

.carousel_items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: 36s slide linear infinite;

    li {
        margin: 0 27px;
    }

    img {
        height: 300px;
        width: auto;
        max-width: none;
    }

    @media (max-width: 1024px) {
        img {
            height: 270px;
        }
    }
}

@media (max-width: 1280px) {
    .welcome {
        width: 43%;
        padding-left: 40px;
    }

    .carousel_container {
        width: 36%;
    }
}

@media (max-width: 1024px) {
    .welcome {
        width: 43%;
        padding-left: 30px;
    }

    .carousel_container {
        width: 37%;
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .welcome {
        width: 77%;
        padding: 0px;
        margin: 0px;
        order: 2;
    }

    .carousel_container {
        width: 77%;
        padding: 18px 0px 0px 0px;
        margin: 0px;
        order: 1;
    }
}