.banner_header {
    width: 40%;
	padding-left: 40px;
    
    h2 {
        font-family: var(--font-urbanist);
        font-size: 40px;
        font-weight: 500;
    }
}

.banner_text {
    width: 40%;
    padding-left: 40px;
    p {
        font-family: var(--font-raleway);
        font-size: 34px;
    }
}