/* Main classes for hero */

.hero_container {
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh;
}

/*  Media breakpoints */

@media (max-width: 768px) {
    .hero_container {
        height: 81vh;
    }
}