.grid_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: var(--clr-salt);
	padding: 80px 40px;

	/* .grid_title {
        font-family: var(--font-urbanist);
        font-size: 36px;
        color: var(--clr-pepper);
        padding-bottom: 40px;
    } */

	.grid_contents {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-template-rows: repeat(2, minmax(0, 1fr));
		align-items: center;
		justify-items: center;
		width: 100%;
		max-width: 1280px;
		background-color: var(--clr-salt);
		gap: 40px;
	}

	@media (max-width: 1280px) {
		.grid_contents {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	@media (max-width: 1024px) {
		.grid_contents {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			grid-template-rows: repeat(3, minmax(0, 1fr));
		}
	}

	@media (max-width: 768px) {
		.grid_contents {
			grid-template-columns: repeat(1, minmax(0, 1fr));
			grid-template-rows: repeat(1, minmax(0, 1fr));
			width: 77%;
		}
	}
}

@media (max-width: 768px) {
	.grid_container {
		padding: 70px 0px;
	}
}
